html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.theme-light {
  background-color: #fff;
  color: #212121;
}

body.theme-dark {
  background-color: #212121;
  color: #fff;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px;
}

.toolbar__button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  color: #696969;
}

.toolbar__button:hover {
  background: #f5f5f5;
  color: #303f9f;
}

.toolbar__icon {
  color: currentColor;
  font-size: 36px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-gap: 24px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex-grow: 1;
}

.card__image {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
}

.card__name {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}

.card__descr {
  line-height: 1.5;
  flex-grow: 1;
}

.card__price {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-size: 20px;
}

.card__price i {
  margin-right: 8px;
  font-size: 24px;
}

.card__reviews {
  display: block;
  margin-top: 16px;
}

.card__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: calc(100% - 16px);
}

.card__notification {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #f44336;
  color: #fff;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag-list__item {
  padding: 4px 8px;
  margin: 4px;
  border-radius: 2px;
  background-color: #3f51b5;
  color: #fff;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #1976d2;
}

.button__icon {
  margin-right: 8px;
}
